.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup-window {
  background-color: #00000081;
  padding: 40px;
  border-radius: 10px;
  width: 350px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  position: relative;
}

#heading {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
  color: rgba(255, 255, 255, 0.753);
}


#message {
  font-size: 14px;
  color: red;
  text-align: center;
  
}

#loginform input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid #cccccc;
  font-size: 16px;
}

#submit {
  width: 50%;
  padding: 10px;
  background-color: #2dce33a2;
  color: white;
  font-size: 18px;
  font-weight: 500;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#submit:hover {
  background-color: #45a049;
}

.welcome-message {
  text-align: center;
}

#forgot {
  text-align: center;
  margin-top: 10px;
  
}

#forgot a {
  color: #ffffff;
  text-decoration: none;
}

#forgot a:hover {
  text-decoration: underline;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 30px;
  cursor: pointer;
  color: white;
}

.close-button:hover {
  color: #e91616;
  
}